<!DOCTYPE html>
    <html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <% include templates/header.ejs %>
        <h1><%= title %></h1>
        <% for (var item in experiments) { %>
            <li>
                <a href=<%="/experiments/"+experiments[item].name%>><%= experiments[item].name %></a> | <%= experiments[item].about %>
            </li>
        <% } %>
    </body>
</html>
